/access1.log
/access2.log
/example1
/example2
/hospital.py
/import pygame.py
/import re.py
/lab10
/lb_7.py
/lb_8.py
/main_csv_file1.csv
/main_csv_file2.csv
/new_repository
/top100_csv_file1.csv
/top100_csv_file2.csv
/top10_csv_file1.csv
/top10_csv_file2.csv
/txt.txt
/Untitled-1.py
/Untitled1929.py
/__pycache__